[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
django-extensions = "*"
django-cors-headers = "*"
django-storages = "*"
boto3 = "*"
pillow = "*"
django-allauth = "*"
psycopg2-binary = "*"
dj-rest-auth = "*"
whitenoise = "*"
gunicorn = "*"
celery = "*"
redis = "*"
django-on-heroku = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.10"
